html {
  min-height: 100vh;
}
hr {
  background: #fff6e5;
}
:root {
  background: linear-gradient(
    120deg,
    #fff6e5,
    #ffd8a8,
    #f7bc81,
    #ffd8a8,
    #fff6e5
  );
  background-size: 400% 400%;
  animation: narutoGradient 20s ease-in-out infinite;
}
@keyframes narutoGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
