name: Run Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'
env:
  # this will probably expire around March 24th
  ACCESS_TOKEN: '${{ secrets.ACCESS_TOKEN }}'
  BLOB_READ_WRITE_TOKEN: '${{ secrets.BLOB_READ_WRITE_TOKEN }}'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - run: bun install
      - run: bun run index.ts
